@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
}
/* Hero section */
.header-section{
    width: 99vw;
    height: 90vh;
    background-image: url(images/sup.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 99vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    gap: 26vw;
}
.nav-menu{
    margin-left: 2%;
    text-decoration: none;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 24vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
}
.nav-menu a{
  text-decoration: none;
  color: inherit;
}
.nav-btn{
    background-color: #f4b53f;
    font-size: 1em;
    font-family: "Lora", serif;
    display: inline-block;
    width: 10vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
    text-decoration: none;
    box-shadow: 0 0 5px #F9C06A;
}
.hero{
    width: 99vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-icon{
    width: 20vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-icon img{
    display: flex;
    justify-content: center;
    width: 19vw;
    height: 10vh;
}
.hero-title{
    color: #FDFDFD;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    width: 40vw;
    height: 21vh;
    font-size: 5em;
}
.hero-text{
    color: #EDEDED;
    text-align: center;
    font-size: 1.1em;
    font-family: "Lora", serif;
    opacity: 0.8;
    width: 40vw;
    height: 10vh;
}

/* Blog section */
.blog{
  width: 99vw;
  height: 200vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8vh;
  gap: 4vh;
}
.blog-header{
  width: 86vw;
  height: 16vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-intro{
  width: 55vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3vh;
}
.blog-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 4em;
  color: #1E1E1E;
}
.blog-desc{
  font-family: "Lora", serif;
  font-size: 1m;
  color: #6F6F6F;
  line-height: 1.5;
  width: 33vw;
}
.search{
  width: 22vw;
  height: 6vh;
  border-radius: 100vw;
  border: 0.15vh solid rgba(0,0,0,0.10);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.8vw;
  padding-left: 1.2vw;
}
.search-icon{
  width: 1.2vw;
  height: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #6F6F6F;
}
.search-input{
  width: 18vw;
  height: 5vh;
  border: none;
  outline: none;
  font-family: "Lora", serif;
  font-size: 0.9em;
  color: #1E1E1E;
  background-color: transparent;
}
.articles-grid{
  width: 86vw;
  height: 155vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5vh 1.2vw;
}
.article{
  width: 27.5vw;
  height: 50vh;
  border-radius: 1.4vw;
  border: 0.15vh solid rgba(0,0,0,0.10);
  background-color: #ffffff;
  padding: 1.8vh 0.8vw;
}
.article-img{
  width: 25.9vw;
  height: 30vh;
  border-radius: 1.2vw;
  overflow: hidden;
}
.article-img img{
  width: 25.9vw;
  height: 30vh;
  object-fit: cover;
}
.article-content{
  width: 25.9vw;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8vh;
  padding-top: 1.2vh;
}
.article-date{
  font-family: "Lora", serif;
  font-size: 1em;
}
.article-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7em;
  color: #1E1E1E;
  line-height: 1.15;
}
.article-excerpt{
  font-family: "Lora", serif;
  font-size: 1em;
  color: #6F6F6F;
  line-height: 1.4;
}
.load-more{
  width: 99vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-btn{
  background-color: #F4C73F;
  font-size: 1em;
  font-family: "Lora", serif;
  font-weight: bold;
  display: inline-block;
  width: 10vw;
  height: 6vh;
  line-height: 6vh;
  border: none;
  border-radius: 100vw;
  text-decoration: none;
  color: #1E1E1E;
  text-align: center;
  box-shadow: 0 0 1vh rgba(244,199,63,0.6);
}

/* Newsletter section */
.newsletter{
  width: 99vw;
  height: 60vh;
  background-image: url(images/bludo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-box{
  width: 99vw;
  height: 60vh;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8vh;
}
.newsletter-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 4em;
  color: #FFFFFF;
  text-align: center;
  width: 30vw;
  height: 10vh;
}
.newsletter-text{
  font-family: "Lora", serif;
  font-size: 1em;
  color: rgba(255,255,255,0.75);
  text-align: center;
  width: 35vw;
  height: 7vh;
  line-height: 1.5;
}
.newsletter-form{
  width: 35vw;
  height: 6vh;
  background-color: #FFFFFF;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2vw;
  padding-right: 0.4vw;
}
.newsletter-icon{
  width: 1.6vw;
  height: 1.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.55);
  font-size: 1em;
}
.newsletter-input{
  width: 25vw;
  height: 5vh;
  border: none;
  outline: none;
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: #1E1E1E;
  background-color: transparent;
}
.newsletter-btn{
  width: 9.5vw;
  height: 5vh;
  border: none;
  border-radius: 100vw;
  background-color: #F4C73F;
  font-family: "Lora", serif;
  font-size: 0.85em;
  font-weight: bold;
  color: #1E1E1E;
}

/* Footer */
.footer{
  width: 99vw;
  height: 110vh;
  background-color: #031521;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}
.footer-top{
  width: 86vw;
  height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left{
  width: 34vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3vh;
}
.footer-heading{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.7em;
  height: 11vh;
  color: #FFFFFF;
  line-height: 1.1;
}
.footer-btn{
  background-color: #F4C73F;
  font-size: 1.2em;
  font-family: "Lora", serif;
  display: inline-block;
  width: 10.5vw;
  height: 5.8vh;
  line-height: 5.8vh;
  border: none;
  border-radius: 100vw;
  text-decoration: none;
  color: #1E1E1E;
  text-align: left;
  padding-left: 2vw;
  box-shadow: 0 0 1vh rgba(244,199,63,0.6);
  position: relative;
}
.btn-arrow{
  width: 2vw;
  height: 2vw;
  border-radius: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
}
.footer-nav{
  width: 16vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.footer-title{
  font-family: "Lora", serif;
  font-size: 1.5em;
  color: rgba(255,255,255,0.9);
}
.footer-links{
  list-style-type: none;
  display: flex;
  font-size: 1em;
  flex-direction: column;
  gap: 1.8vh;
}
.footer-link{
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: rgba(255,255,255,0.65);
  text-decoration: none;
}
.footer-social{
  width: 18vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.social-icons{
  width: 14vw;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 0.9vw;
}
.social-icon{
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom{
  width: 86vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
}
.copyright{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
}
.footer-links-bottom{
  width: 22vw;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8vw;
}
.footer-link-small{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
  text-decoration: none;
}
.separator{
  font-family: "Lora", serif;
  font-size: 1em;
  color: rgba(255,255,255,0.35);
}
.footer-line{
  width: 86vw;
  height: 0.2vh;
  background-color: rgba(255,255,255,0.10);
}
.footer-logo{
  width: 86vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-img{
  width: 86vw;
  height: 50vh;
  object-fit: contain;
}