@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
}

/* Article Header */
.article-header{
    width: 99vw;
    height: 80vh;
    background-image: url(images/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 99vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    gap: 26vw;
}
.nav-list{
    margin-left: 2%;
    text-decoration: none;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 24vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
}
.nav-list a{
  text-decoration: none;
  color: inherit;
}
.nav-btn{
    background-color: #f4b53f;
    font-size: 1em;
    font-family: "Lora", serif;
    display: inline-block;
    width: 10vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
    text-decoration: none;
    box-shadow: 0 0 5px #F9C06A;
}
.article-hero{
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.date{
    width: 20vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FDFDFD;
    font-size: 1em;
    font-family: "Lora", serif;
}
.article-title{
    color: #FDFDFD;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    width: 40vw;
    height: 15vh;
    font-size: 3.5em;
}
.article-intro{
    color: #EDEDED;
    text-align: center;
    font-size: 1.35em;
    font-family: "Lora", serif;
    opacity: 0.8;
    width: 40vw;
    height: 10vh;
}

/* Article Content */
.article{
  width: 99vw;
  height: 375vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.article-content{
  width: 52vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.story{
  width: 52vw;
  display: flex;
  flex-direction: column;
}
.story-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.7em;
  color: #1E1E1E;
  font-weight: 600;
  text-align: left;
  margin-bottom: 2.2vh;
}
.story-text{
  font-family: "Lora", serif;
  font-size: 1.4em;
  color: #6F6F6F;
  line-height: 1.75;
  width: 52vw;
  margin-bottom: 2.2vh;
}
.quote-box{
  width: 52vw;
  border-left: 0.2vw solid rgb(233, 24, 24);
  padding-left: 1.4vw;
  margin-top: 0.5vh;
  margin-bottom: 6vh;
}
.quote{
  font-family: "Lora", serif;
  font-size: 1.4em;
  color: #5A5A5A;
  line-height: 1.75;
}
.story-img{
  width: 52vw;
  height: 65vh;
  border-radius: 1.6vw;
  overflow: hidden;
  margin-top: 0.5vh;
}
.story-img img{
  width: 52vw;
  height: 65vh;
  object-fit: cover;
  border-radius: 1.6vw;
}
.conclusion{
  width: 52vw;
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
}
.conclusion-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.7em;
  color: #1E1E1E;
  font-weight: 600;
}
.conclusion-text{
  font-family: "Lora", serif;
  font-size: 1.4em;
  color: #6F6F6F;
  line-height: 1.75;
  width: 52vw;
}

/* Related Articles */
.related{
  width: 99vw;
  height: 105vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}
.related-header{
  width: 85vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.related-info{
  width: 60vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5vh;
}
.related-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 4em;
  height: 10vh;
  color: #1E1E1E;
}
.related-subtitle{
  font-family: "Lora", serif;
  font-size: 1.6em;
  color: #6F6F6F;
  width: 42vw;
  height: 10vh;
  line-height: 1.45;
}
.related-all{
  background-color: #F4C73F;
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: #1E1E1E;
  text-decoration: none;
  width: 5.5vw;
  height: 4.8vh;
  line-height: 4.8vh;
  border-radius: 100vw;
  text-align: center;
  box-shadow: 0 0 1vh rgba(244,199,63,0.6);
  margin-top: 8.4vh;
}
.related-grid{
  width: 86vw;
  height: 38vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1vw;
}
.card{
  width: 27.3vw;
  height: 51vh;
  border-radius: 1.4vw;
  border: 0.15vh solid rgba(0,0,0,0.10);
  background-color: #ffffff;
  padding: 2vh 0.8vw;
}
.card-img{
  width: 25.7vw;
  height: 30vh;
  border-radius: 1.2vw;
  overflow: hidden;
}
.card-img img{
  width: 25.7vw;
  height: 30vh;
  object-fit: cover;
}
.card-content{
  width: 25.7vw;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
  padding-top: 1.6vh;
}
.card-date{
  font-family: "Lora", serif;
  font-size: 1em;
  color: #1E1E1E;
}
.card-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7em;
  color: #1E1E1E;
  line-height: 1.15;
}
.card-text{
  font-family: "Lora", serif;
  font-size: 1em;
  color: #6F6F6F;
  line-height: 1.4;
}

/* Footer */
.footer{
  width: 99vw;
  height: 110vh;
  background-color: #031521;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}
.footer-top{
  width: 86vw;
  height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left{
  width: 34vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3vh;
}
.footer-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.7em;
  height: 11vh;
  color: #FFFFFF;
  line-height: 1.1;
}
.footer-btn{
  background-color: #F4C73F;
  font-size: 1.2em;
  font-family: "Lora", serif;
  display: inline-block;
  width: 10.5vw;
  height: 5.8vh;
  line-height: 5.8vh;
  border: none;
  border-radius: 100vw;
  text-decoration: none;
  color: #1E1E1E;
  text-align: left;
  padding-left: 2vw;
  box-shadow: 0 0 1vh rgba(244,199,63,0.6);
  position: relative;
}
.btn-icon{
  width: 2vw;
  height: 2vw;
  border-radius: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
}
.footer-nav{
  width: 16vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.footer-subtitle{
  font-family: "Lora", serif;
  font-size: 1.5em;
  color: rgba(255,255,255,0.9);
}
.footer-links{
  list-style-type: none;
  display: flex;
  font-size: 1em;
  flex-direction: column;
  gap: 1.8vh;
}
.footer-links a{
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: rgba(255,255,255,0.65);
  text-decoration: none;
}
.footer-social{
  width: 18vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.social{
  width: 14vw;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 0.9vw;
}
.social-icon{
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info{
  width: 86vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
}
.copyright{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
}
.footer-links-bottom{
  width: 22vw;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8vw;
}
.footer-links-bottom a{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
  text-decoration: none;
}
.dot{
  font-family: "Lora", serif;
  font-size: 1em;
  color: rgba(255,255,255,0.35);
}
.footer-line{
  width: 86vw;
  height: 0.2vh;
  background-color: rgba(255,255,255,0.10);
}
.footer-logo{
  width: 86vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo img{
  width: 86vw;
  height: 50vh;
  object-fit: contain;
}