@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
}
.hero{
    width: 99vw;
    height: 80vh;
    background-image: url(images/sup.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 99vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    gap: 26vw;
}
.nav ul{
    margin-left: 2%;
    text-decoration: none;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
    background-color: black;
    opacity: 0.5;
    color: white;
    text-align: center;
    font-size: 0.8em;
    width: 24vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
}
.nav ul a{
  text-decoration: none;
  color: inherit;
}
.btn-nav{
    background-color: #f4b53f;
    font-size: 1em;
    font-family: "Lora", serif;
    display: inline-block;
    width: 10vw;
    height: 6vh;
    line-height: 48px;
    border: none;
    border-radius: 100vw;
    text-decoration: none;
    box-shadow: 0 0 5px #F9C06A;
}
.hero-content{
    width: 99vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-icon{
    width: 20vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-icon img{
    display: flex;
    justify-content: center;
    width: 19vw;
    height: 10vh;
}
.hero-title{
    color: #FDFDFD;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    width: 40vw;
    height: 22vh;
    font-size: 4.8em;
}
.hero-sub{
    color: #EDEDED;
    text-align: center;
    font-size: 1.1em;
    font-family: "Lora", serif;
    opacity: 0.8;
    width: 40vw;
    height: 10vh;
}
.menu{
  width: 99vw;
  height: 150vh;
  background-color: #F7F6F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
  padding-top: 8vh;
}
.menu-header{
  width: 86vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 3.2em;
  color: #1E1E1E;
}
.menu-tabs{
  width: 34vw;
  height: 6vh;
  background-color: #FAFAFA;
  color: #A5A5A5;
  border: 0.15vh solid rgba(0,0,0,0.10);
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.tab{
  height: 4.5vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  border: none;
  background-color: transparent;
  border-radius: 100vw;
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: #6F6F6F;
}
.tab-active{
  background-color: #FFFFFF;
  color: #1E1E1E;
  font-weight: bold;
}
.menu-grid{
  width: 86vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4vw;
}
.menu-col{
  width: 41vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2.6vh;
}
.menu-item{
  width: 42vw;
  height: 15.5vh;
  display: flex;
  align-items: center;
  gap: 1.5vw;
}
.item-img{
  width: 8.2vw;
  height: 8.2vw;
  border-radius: 1.2vw;
  object-fit: cover;
  box-shadow: 0 0 1.2vh rgba(0,0,0,0.15);
}
.item-content{
  width: 32vw;
  height: 15.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8vh;
}
.item-top{
  width: 32vw;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-tag{
  font-family: "Lora", serif;
  font-size: 1em;
  color: #6F6F6F;
  background-color: #EFEDE9;
  width: 8vw;
  height: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vw;
}
.item-price{
  font-family: "Lora", serif;
  font-size: 1.2em;
  color: #1E1E1E;
}
.item-name{
  font-family: "Cormorant Garamond", serif;
  font-size: 2em;
  color: #1E1E1E;
}
.item-bbq{
  font-family: "Cormorant Garamond", serif;
  font-size: 1em;
}
.item-desc{
  font-family: "Lora", serif;
  font-size: 1.05em;
  color: #6F6F6F;
  width: 32vw;
  line-height: 1.4;
}
.reviews{
  width: 99vw;
  height: 100vh;
  background-color: #031521;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
.reviews-header{
  width: 70vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 4em;
  color: #FFFFFF;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-sub{
  font-family: "Lora", serif;
  font-size: 1.2em;
  color: #B8C0C7;
  opacity: 0.9;
  text-align: center;
  width: 55vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-grid{
  width: 88vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}
.review-card{
  width: 26vw;
  height: 46vh;
  border-radius: 1.5vw;
  overflow: hidden;
  position: relative;
  background-color: #0B2432;
}
.card-img{
  width: 26vw;
  height: 46vh;
  object-fit: cover;
  border-radius: 1.5vw;
}
.card-content{
  width: 22vw;
  height: 16vh;
  background-color: #F4F4F4;
  border-radius: 1.2vw;
  position: absolute;
  left: 2vw;
  bottom: 2vh;
  padding: 1.5vh 1.2vw;
}
.card-text{
  font-family: "Lora", serif;
  font-size: 0.75em;
  color: #3A3A3A;
  line-height: 1.4;
  width: 20vw;
  height: 8vh;
}
.card-name{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1em;
  color: #1E1E1E;
  margin-top: 0.8vh;
}
.card-job{
  font-family: "Lora", serif;
  font-size: 0.7em;
  color: #6A6A6A;
  margin-top: 0.3vh;
}
.reviews-controls{
  width: 82vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider{
  width: 60vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-dots{
  font-family: "Lora", serif;
  font-size: 0.7em;
  color: rgba(255,255,255,0.6);
}
.slider-btns{
  width: 12vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
}
.slider-btn{
  width: 3vw;
  height: 3vw;
  border-radius: 100vw;
  background-color: #FFFFFF;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-icon{
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E1E1E;
}
.footer{
  width: 99vw;
  height: 110vh;
  background-color: #031521;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10vh;
}
.footer-top{
  width: 86vw;
  height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left{
  width: 34vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3vh;
}
.footer-title{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.7em;
  height: 11vh;
  color: #FFFFFF;
  line-height: 1.1;
}
.footer-btn{
  background-color: #F4C73F;
  font-size: 1.2em;
  font-family: "Lora", serif;
  display: inline-block;
  width: 10.5vw;
  height: 5.8vh;
  line-height: 5.8vh;
  border: none;
  border-radius: 100vw;
  text-decoration: none;
  color: #1E1E1E;
  text-align: left;
  padding-left: 2vw;
  box-shadow: 0 0 1vh rgba(244,199,63,0.6);
  position: relative;
}
.btn-arrow{
  width: 2vw;
  height: 2vw;
  border-radius: 100vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
}
.footer-center{
  width: 16vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.footer-col-title{
  font-family: "Lora", serif;
  font-size: 1.5em;
  color: rgba(255,255,255,0.9);
}
.footer-nav{
  list-style-type: none;
  display: flex;
  font-size: 1em;
  flex-direction: column;
  gap: 1.8vh;
}
.footer-link{
  font-family: "Lora", serif;
  font-size: 0.85em;
  color: rgba(255,255,255,0.65);
  text-decoration: none;
}
.footer-right{
  width: 18vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 1vh;
}
.footer-social{
  width: 14vw;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 0.9vw;
}
.social-icon{
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info{
  width: 86vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
}
.footer-copy{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
}
.footer-policy{
  width: 22vw;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8vw;
}
.footer-link-sm{
  font-family: "Lora", serif;
  font-size: 0.8em;
  color: rgba(255,255,255,0.55);
  text-decoration: none;
}
.footer-dot{
  font-family: "Lora", serif;
  font-size: 1em;
  color: rgba(255,255,255,0.35);
}
.footer-line{
  width: 86vw;
  height: 0.2vh;
  background-color: rgba(255,255,255,0.10);
}
.footer-logo{
  width: 86vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img{
  width: 86vw;
  height: 50vh;
  object-fit: contain;
}